* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Titillium Web;
  font-weight: 300;
  color: #f1f1f1;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: rgb(20, 28, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}
body .devfinder-wrapper {
  width: min(600px, 90%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body .devfinder-wrapper header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
body .devfinder-wrapper header .logo {
  font-weight: 600;
  font-size: 1.8em;
}
body .devfinder-wrapper header .theme {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
body .devfinder-wrapper header .theme span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3em;
  font-size: 0.8em;
}
body .devfinder-wrapper header .theme .fi {
  display: flex;
}
body .devfinder-wrapper .search {
  background-color: rgb(38, 49, 80);
  border-radius: 0.7em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  padding: 0.3833333333em 1.15em;
  padding-right: 0.3833333333em;
}
body .devfinder-wrapper .search .search-input {
  width: 100%;
  display: flex;
  align-items: center;
}
body .devfinder-wrapper .search .search-input .search-icon {
  color: rgb(0, 121, 254);
  margin-right: 0.7em;
}
body .devfinder-wrapper .search .search-input input {
  background-color: transparent;
  border: 0;
  width: 100%;
}
body .devfinder-wrapper .search .search-input input::-moz-placeholder {
  color: #f1f1f1;
}
body .devfinder-wrapper .search .search-input input::placeholder {
  color: #f1f1f1;
}
body .devfinder-wrapper .search .search-input input:focus {
  outline: none;
}
body .devfinder-wrapper .search #search-btn {
  background-color: rgb(0, 121, 254);
  border: 0;
  padding: 0.7666666667em 1.5333333333em;
  border-radius: 0.7em;
  font-weight: 600;
  transition: all 150ms ease-in-out;
}
body .devfinder-wrapper .search #search-btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
body .devfinder-wrapper .profile-wrapper {
  background-color: rgb(38, 49, 80);
  border-radius: 0.7em;
  padding: 2.3em;
  gap: 1.5em;
}
body .devfinder-wrapper .profile-wrapper .profile-info {
  display: grid;
  gap: 1.5em;
  grid-auto-columns: 1fr 1.5fr 1.5fr;
  grid-template-areas: "a b b" "a c c" "a d d" "a e e";
}
@media (max-width: 605px) {
  body .devfinder-wrapper .profile-wrapper .profile-info {
    grid-template-areas: "a b b" "c c c" "d d d" "e e e";
  }
}
body .devfinder-wrapper .profile-wrapper .profile-info .avatar {
  grid-area: a;
}
body .devfinder-wrapper .profile-wrapper .profile-info .avatar img {
  border-radius: 100vh;
  max-width: 100%;
}
body .devfinder-wrapper .profile-wrapper .profile-info .identifier {
  grid-area: b;
  display: flex;
  justify-content: space-between;
}
body .devfinder-wrapper .profile-wrapper .profile-info .identifier .username-wrapper {
  display: flex;
  flex-direction: column;
}
body .devfinder-wrapper .profile-wrapper .profile-info .identifier .username-wrapper .name {
  font-weight: 600;
  font-size: 1.7em;
  letter-spacing: 0.03em;
  line-height: 1;
}
body .devfinder-wrapper .profile-wrapper .profile-info .identifier .username-wrapper .user {
  color: rgb(0, 121, 254);
}
body .devfinder-wrapper .profile-wrapper .profile-info .bio {
  grid-area: c;
}
body .devfinder-wrapper .profile-wrapper .profile-info .bio p {
  color: #ccc;
}
body .devfinder-wrapper .profile-wrapper .profile-info .user-info {
  grid-area: d;
  background-color: rgb(20, 28, 47);
  padding: 1.15em 2.3em;
  border-radius: 0.7em;
  display: grid;
  grid-template-columns: repeat(3, minmax(4em, 1fr));
}
body .devfinder-wrapper .profile-wrapper .profile-info .user-info div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
body .devfinder-wrapper .profile-wrapper .profile-info .user-info div .info-data {
  font-weight: 700;
  font-size: 1.1em;
}
body .devfinder-wrapper .profile-wrapper .profile-info .social-info {
  grid-area: e;
  display: grid;
  row-gap: 0.75em;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
}
body .devfinder-wrapper .profile-wrapper .profile-info .social-info div i {
  margin-right: 0.5em;
}/*# sourceMappingURL=style.css.map */