$bkg-color: rgb(20 28 47);
$primary-color: rgb(38, 49, 80);
$white-color: #f1f1f1;
$link-color: rgb(0 121 254);
$b-radius: .7em;
$default-padding: 2.3em;
$spacing: 1.5em;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web;
    font-weight: 300;
    color: $white-color;
}

img{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background-color: $bkg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    .devfinder-wrapper{
        width: min(600px, 90%);
        display: flex;
        flex-direction: column;
        gap: 1em;
        header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 1em;
            .logo{
                font-weight: 600;
                font-size: 1.8em;
            }
            .theme{
                display: flex;
                align-items: center;
                gap: .6em;
                span{
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .3em;
                    font-size: .8em;
                }
                .fi{
                    display: flex;
                }
            }
        }
        .search{
            background-color: $primary-color;
            border-radius: $b-radius;
            display: flex;
            align-items: center;
            gap: 1em;
            justify-content: space-between;
            padding: calc($default-padding / 6) calc($default-padding / 2);
            padding-right: calc($default-padding/6);
            .search-input{
                width: 100%;
                display: flex;
                align-items: center;
                .search-icon{
                    color: $link-color;
                    margin-right: .7em;
                }
                input{
                    background-color: transparent;
                    border: 0;
                    width: 100%;
                    &::placeholder{
                        color: $white-color;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
            #search-btn{
                background-color: $link-color;
                border: 0;
                padding: calc($default-padding/3) calc($default-padding/1.5);
                border-radius: $b-radius;
                font-weight: 600;
                transition: all 150ms ease-in-out;
                &:hover{
                    cursor: pointer;
                    filter: brightness(.8);
                }
            }
        }
        .profile-wrapper{
            background-color: $primary-color;
            border-radius: $b-radius;
            padding: $default-padding;
            gap: $spacing;
            .profile-info{
                display: grid;
                gap: $spacing;
                // grid-template-columns: repeat(3, minmax(150px, 1fr));
                grid-auto-columns: 1fr 1.5fr 1.5fr;
                grid-template-areas: 
                'a b b'
                'a c c'
                'a d d'
                'a e e';

                @media (max-width: 605px) {
                    grid-template-areas: 
                    'a b b'
                    'c c c'
                    'd d d'
                    'e e e';
                }
                .avatar{
                    grid-area: a;
                    img{
                        border-radius: 100vh;
                        max-width: 100%;
                    }
                }
                .identifier{
                    grid-area: b;
                    display: flex;
                    justify-content: space-between;
                    .username-wrapper{
                        display: flex;
                        flex-direction: column;
                        .name{
                            font-weight: 600;
                            font-size: 1.7em;
                            letter-spacing: .03em;
                            line-height: 1;
                        }
                        .user{
                            color: $link-color;
                        }
                    }
                }
                .bio{
                    grid-area: c;
                    p{
                        color: #ccc;
                    }
                }
                .user-info{
                    grid-area: d;
                    background-color: $bkg-color;
                    padding: calc($default-padding/2) $default-padding;
                    border-radius: $b-radius;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(4em, 1fr));
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        .info-data{
                            font-weight: 700;
                            font-size: 1.1em;
                        }
                    }
                }
                .social-info{
                    grid-area: e;
                    display: grid;
                    row-gap: calc($spacing/2);
                    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
                    div i {
                        margin-right: .5em;
                    }
                }
            }
        }
    }
}