$bkg-color: rgb(20 28 47);
$primary-color: rgb(38, 49, 80);
$white-color: #f1f1f1;
$link-color: rgb(0 121 254);
$b-radius: .7em;
$default-padding: 1.7em;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web;
    color: $white-color;
}

img{
    display: block;
}


body{
    background-color: $bkg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    .devfinder-wrapper{
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 1em;
        header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 1em;
            .logo{
                font-weight: 600;
                font-size: 1.8em;
            }
            .theme{
                display: flex;
                align-items: center;
                gap: .6em;
                span{
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .3em;
                    font-size: .8em;
                }
                .fi{
                    display: flex;
                }
            }
        }
        .search{
            background-color: $primary-color;
            border-radius: $b-radius;
            display: flex;
            gap: 1em;
            justify-content: space-between;
            padding: calc($default-padding / 3) $default-padding;
            padding-right: calc($default-padding/3);
            .search-input{
                width: 100%;
                display: flex;
                align-items: center;
                .search-icon{
                    color: $link-color;
                    margin-right: .7em;
                }
                input{
                    background-color: transparent;
                    border: 0;
                    width: 100%;
                    &::placeholder{
                        color: $white-color;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
            #search-btn{
                background-color: $link-color;
                border: 0;
                padding: calc($default-padding/2.5) $default-padding;
                border-radius: $b-radius;
                font-weight: 600;
            }
        }
    }
}